---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { Card, CardContent, CardTitle } from "@/components/ui/card";
---

<DefaultLayout title="About Me">
  <main>
    <Card class="flex justify-center">
      <h1>THIS IS THE ABOUT PAGE</h1>
    </Card>
  </main>
</DefaultLayout>
