---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardTitle,
  CardHeader,
  CardFooter,
} from "@/components/ui/card";
import {
  GoIcon,
  NodeIcon,
  NuxtIcon,
  VueIcon,
  PostgresIcon,
} from "@/components/icon";
---

<DefaultLayout title="Home">
  <main>
    <div class="flex flex-col gap-2">
      <!--! Hero -->
      <div class="grid grid-cols-1 md:grid-cols-12 border-black border-b-2">
        <!-- Left side -->
        <div class="h-80 col-span-1 md:col-span-6 bg-secondary">
          <div class="flex flex-col gap-2 p-4">
            <div class="text-[40px] font-bold">Hello World,</div>
            <div class="flex items-center gap-2 text-[40px] font-bold">
              <span class="flex items-center">
                <div>I</div>
                <div>AM</div>
                <div>:</div>
              </span>
              <span class="text-primary py-4"> Michael Chen</span>
            </div>
            <div class="text-[24px] text-wrap text-gray-500">
              Doctor turned Software Engineer, based in Taiwan. Passionate about
              building.
            </div>
          </div>
        </div>
        <!-- Right side -->
        <div
          class="hidden md:flex h-80 col-span-1 md:col-span-6 bg-primary justify-center"
        >
          <img
            src="/profilepicture.jpg"
            alt="Michael Chen"
            class="h-[80%] my-auto object-cover rounded-full"
          />
        </div>
      </div>
    </div>
    <div class="h-16 border-b-2 border-black"></div>
    <!--! Skill Tree -->
    <div>Always learning. Currenlty focusing on:</div>
    <Card>
      <CardContent
        class="flex w-full h-16 justify-around items-center px-4 py-2"
      >
        <GoIcon class="w-14 h-14" />
        <NodeIcon class="w-14 h-14" />
        <PostgresIcon class="w-14 h-14" />
        <NuxtIcon class="w-14 h-14" />
        <VueIcon class="w-14 h-14" />
      </CardContent>
    </Card>
  </main>
</DefaultLayout>
