---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardTitle,
  CardHeader,
  CardFooter,
} from "@/components/ui/card";
import {
  GoIcon,
  NodeIcon,
  NuxtIcon,
  VueIcon,
  PostgresIcon,
} from "@/components/icon";
---

<DefaultLayout title="Home">
  <main>
    <div class="flex flex-col gap-2 px-1">
      <!--! Hero -->
      <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
        <Card class="col-span-1 md:col-span-3 p-4">
          <img
            src="/profilepicture.jpg"
            alt="Michael Chen"
            class="w-full h-full md:h-full object-cover"
          />
        </Card>
        <Card class="col-span-1 md:col-span-9">
          <CardTitle>
            <div class="flex flex-col gap-2">
              <div class="text-[32px] md:text-[64px] font-bold">
                Hello World,
              </div>
            </div>
          </CardTitle>
          <CardHeader>
            <div class="text-[32px] md:text-[64px] font-bold">
              <span>IAM:</span>
              <span class="text-grow text-primary py-4"> Michael Chen</span>
            </div>
          </CardHeader>
          <CardContent>
            <div class="text-[14px] md:text-[28px] text-wrap text-gray-500">
              Doctor turned Software Engineer, based in Taiwan. Passionate about
              building.
            </div>
          </CardContent>
          <CardFooter>
            <div class="flex flex-wrap gap-2 items-center">
              <div
                class="text-[12px] md:text-[24px] bg-primary text-primary-foreground hover:bg-primary-foreground hover:text-primary p-2 border-2 border-black rounded-none shadow-none"
              >
                Software Engineer
              </div>
              <div
                class="text-[12px] md:text-[24px] bg-primary text-primary-foreground hover:bg-primary-foreground hover:text-primary p-2 border-2 border-black rounded-none shadow-none"
              >
                Medical Doctor
              </div>
              <div
                class="text-[12px] md:text-[24px] bg-primary text-primary-foreground hover:bg-primary-foreground hover:text-primary px-4 py-2 border-2 border-black rounded-none shadow-none"
              >
                Entrepreneur
              </div>
            </div>
          </CardFooter>
        </Card>
      </div>
      <!--! Skill Tree -->
      <div>Always learning. Currenlty focusing on:</div>
      <Card>
        <CardContent class="flex w-full justify-around items-center px-4 py-2">
          <GoIcon class="w-24 h-24" />
          <NodeIcon class="w-24 h-24" />
          <PostgresIcon class="w-24 h-24" />
          <NuxtIcon class="w-24 h-24" />
          <VueIcon class="w-24 h-24" />
        </CardContent>
      </Card>
    </div>
  </main>
</DefaultLayout>
