---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Header />
  <div class="inset-0 flex justify-center">
    <div class="w-full flex flex-col gap-4">
      <slot />
    </div>
  </div>
</BaseLayout>
